- content_for(:header) do
  %h1 Functions

= table_filter('function', 'name')

%table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th Created
      %th Implementations
      %th Comments

  %tbody
    - @functions.each do |function|
      %tr
        %td= link_to_record(function)
        %td= function.description
        %td= link_to_record(function.user)
        %td= timestamp(function)
        %td= function.implementations_count
        %td= function.comments_count

= link_to('Propose a new function', new_function_path, :class => 'action')
