- content_for(:header) do
  %h1 Functions

.function-search
  = label_tag(:search, "Search for a function")
  = text_field_tag(:search, nil, { |
      :placeholder => "Start typing a function name", |
      :'data-filters' => 'table > tbody > tr', |
      :'data-filters-by' => 'td:first-child' |
    }) |

%table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th Created
      %th Implementations
      %th Comments

  %tbody
    - @functions.each do |function|
      %tr
        %td= link_to_record(function)
        %td= function.description
        %td= link_to_record(function.user)
        %td= "#{time_ago_in_words(function.created_at)} ago"
        %td= function.implementations_count
        %td= function.comments_count

= link_to('Propose a new function', new_function_path, :class => 'action')
