- content_for(:header) do
  %h1
    = @function.name
    %small
      Proposed by
      = link_to_record(@function.user)

  %p= @function.description

- if @popular_implementations.any?
  .popular-implementations

.two-column
  .column
    %h2 Example

    = readonly_code_mirror(:example, @function.example)

    = action_link('Implement', implement_function_path(@function))

    %h2= pluralize(@function.comments_count, 'Comment')

    - @function.comments.each do |comment|
      .comment
        %h3
          = link_to_record(comment.user)
          %small= timestamp(comment)
        %p= comment.content

    = form_tag(comment_on_function_path(@function)) do
      %fieldset
        %legend Leave a comment
        .field= text_area_tag(:content)
        .field= submit_tag('Comment')

  .column
    %h2 Implementations

    - @implementations.each do |implementation|
      .implementation
        %h3
          = profile_image(implementation.user)
          = link_to_record(implementation.user)
          %small= timestamp(implementation)

        = readonly_code_mirror(:example, implementation.source)

        %p
          = pluralize(implementation.score, 'upvote')
          - if logged_in?
            - if current_user.upvoted?(implementation)
              = disabled_link('Upvoted', :class => 'upvote')
            - else
              = link_to('Upvote', upvote_implementation_path(implementation), :class => 'upvote')
          = link_to(pluralize(implementation.comments_count, 'comment'), implementation)

:javascript
  this.charts = {
    'Popular Implementations': {
      target: '.popular-implementations',
      data: #{@popular_implementations_json}
    }
  };
