- content_for(:header) do
  %h1 Users

%table
  %thead
    %tr
      %th Name
      %th Score
      %th Functions
      %th Implementations
      %th Joined

  %tbody
    - @users.each do |user|
      %tr
        %td
          = gravatar_image_tag(user.email, :gravatar => { :size => 50 })
          = link_to(user.name, "/users/#{user.id}")
        %td
          %span.score= user.score
        %td= user.functions_count
        %td= user.implementations_count
        %td= "#{time_ago_in_words(user.created_at)} ago"
