- content_for(:header) do
  %h1 Users

.user-search
  = label_tag(:search, "Search for a user")
  = text_field_tag(:search, nil, { |
      :placeholder => "Start typing a user name", |
      :'data-filters' => 'table > tbody > tr', |
      :'data-filters-by' => 'td:first-child' |
    }) |

%table
  %thead
    %tr
      %th Name
      %th Score
      %th Functions
      %th Implementations
      %th Joined

  %tbody
    - @users.each do |user|
      %tr
        %td
          = profile_image(user)
          = link_to_record(user)
        %td
          %span.score= user.score
        %td= user.functions_count
        %td= user.implementations_count
        %td= timestamp(user)
