- content_for(:header) do
  %h1 Users

= table_filter('user', 'name')

%table
  %thead
    %tr
      %th Name
      %th Score
      %th Functions
      %th Implementations
      %th Joined

  %tbody
    - @users.each do |user|
      %tr
        %td
          = profile_image(user)
          = link_to_record(user)
        %td
          %span.score= user.score
        %td= user.functions_count
        %td= user.implementations_count
        %td= timestamp(user)
