- content_for(:header) do
  %h1
    = gravatar_image_tag(@user.email, :gravatar => { :size => 100 })
    = @user.name
    %span.score= @user.score
    %small= "Joined #{timestamp(@user)}"

.two-column
  .column
    %h2 Functions

    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Created
          %th Implementations

      %tbody
        - @user.functions.each do |function|
          %tr
            %td= link_to_record(function)
            %td= function.description
            %td= timestamp(function)
            %td= function.implementations_count

  .column
    %h2 Implementations

    %table
      %thead
        %tr
          %th Function
          %th Description
          %th Implemented
          %th Score

      %tbody
        - @user.implementations.each do |implementation|
          %tr
            %td= link_to_record(implementation.function)
            %td= implementation.function.description
            %td= link_to(timestamp(implementation), implementation)
            %td
              %span.score= implementation.score
