- content_for(:header) do
  %h1
    = gravatar_image_tag(@user.email, :gravatar => { :size => 100 })
    = @user.name
    %small= "Joined #{time_ago_in_words(@user.created_at)} ago"

.two-column
  .column
    %h2 Functions

    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Created
          %th Implementations

      %tbody
        - @user.functions.each do |function|
          %tr
            %td= link_to(function.name, function)
            %td= function.description
            %td= "#{time_ago_in_words(function.created_at)} ago"
            %td= function.implementations_count

  .column
    %h2 Implementations

    %table
      %thead
        %tr
          %th Function
          %th Description
          %th Implemented
          %th Comments

      %tbody
        - @user.implementations.each do |implementation|
          %tr
            %td= link_to(implementation.function.name, implementation.function)
            %td= implementation.function.description
            %td= link_to(time_ago_in_words(implementation.created_at) + ' ago', implementation)
            %td= implementation.comments_count
