<% if !logged_in? %>
  <div class="login-prompt">
    <p><%= link_to('Log in', login_path) %> to continue.</p>
  </div>
<% end %>

<h2>Recent Proposals</h2>

<table>
  <thead>
    <tr>
      <th>Function</th>
      <th>Description</th>
      <th>Proposed</th>
    </tr>
  </thead>

  <tbody>
    <% @functions.each do |function| %>
      <tr>
        <td><%= link_to(function.name, function) %></td>
        <td><%= function.description %></td>
        <td>
          by
          <%= link_to(function.user.name, function.user) %>
          <%= "#{time_ago_in_words(function.created_at)} ago" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
