- content_for(:header) do
  %h1
    Edit implementation for
    = link_to_record(@function)
    %small= back_link('Back', implementation_path(@implementation))

  %p= @function.description

.two-column
  .column
    %h2 Example
    = readonly_code_mirror(:example, @function.example)

  .column
    %h2 Implementation
    = edit_form(@implementation)
