- content_for(:header) do
  %h1
    Implement
    = link_to(@function.name, @function)

  %p= @function.description

.two-column
  .column
    %h2 Example
    = readonly_code_mirror(:example, @function.example)

  .column
    %h2 Implementation
    = form_for(Implementation.new(:function => @function)) do |f|
      = f.hidden_field(:function_id)
      .field
        = code_mirror(:'implementation[source]')
      .field
        = f.submit
