%h1
  = link_to(@implementation.function.name, "/functions/#{@implementation.function_id}")
  %small
    Implemented by
    = link_to(@implementation.user.name, "/users/#{@implementation.user_id}")

%p
  = pluralize(@implementation.upvotes.count, 'upvote')
  = link_to('Upvote', "/implementations/#{@implementation.id}/upvote", :class => 'upvote')

%pre!= @implementation.source
