- content_for(:header) do
  %h1
    = link_to_record(@implementation.function)
    %small
      Implemented by
      = link_to_record(@implementation.user)
    %small= back_link('Functions', functions_path)

  %p
    = pluralize(@implementation.upvotes.count, 'upvote')
    - if logged_in?
      - if current_user.upvoted?(@implementation)
        = disabled_link('Upvoted', :class => 'upvote')
      - else
        = link_to('Upvote', upvote_implementation_path(@implementation), :class => 'upvote')

= readonly_code_mirror(:source, @implementation.source)

%h2= pluralize(@implementation.comments_count, 'Comment')

- @comments.each do |comment|
  .comment
    %h3
      = profile_image(comment.user)
      = link_to_record(comment.user)
      %small= timestamp(comment)
    %p= comment.content

= form_tag(comment_on_implementation_path(@implementation)) do
  %fieldset
    %legend Leave a comment
    .field= text_area_tag(:content)
    .field= submit_tag('Comment')
