- content_for(:header) do
  %h1
    = link_to_record(@implementation.function)
    %small
      Implemented by
      = link_to_record(@implementation.user)
    %small= back_link('Back', implementation_path(@implementation))

%h3
  = "Version #{@implementation.versions.count + 1}"
  %small Current

= readonly_code_mirror(:current, @implementation.source)

- @versions.each do |version|
  .implementation-version
    %h3
      = "Version #{version.index + 1}"
      %small= timestamp(version)

    = readonly_code_mirror("version-#{version.index + 1}", version.reify.source)
