%header
  %h1
    FunctionBin

- if logged_in?
  = form_tag('/functions') do
    %fieldset
      %legend Specify a function
      .field
        = text_field_tag(:name, :placeholder => 'Enter a name')
      .field
        = text_area_tag(:description, :placeholder => 'Enter a description')
      .field
        = code_mirror(:example, :placeholder => 'Enter some example usage')
      .field
        = submit_tag

- else
  %p Log in to continue.
