!!!
%html
  %head
    %title FunctionBin
    = stylesheet_link_tag("application")
    = javascript_include_tag("application")

  %body(data-page="#{params[:controller]}-#{params[:action]}")
    = nav_menu

    %main
      %header
        - if content_for?(:header)
          = yield(:header)
        - else
          %h1 Function<wbr /><em>Bin</em>

      = preserve(yield)
      = site_footer

    - if flash[:notice]
      #notice(class="#{flash[:style] || 'info'}")= flash[:notice]
