!!!
%html
  %head
    %title FunctionBin
    = stylesheet_link_tag("lib/codemirror")
    = stylesheet_link_tag("application")
    = javascript_include_tag("all")

  %body
    %nav
      %ul
        %li= link_to('Home', '/')
        %li= link_to('Functions', '/functions')
        %li= if logged_in? then link_to('Log out', '/logout') else link_to('Log in', '/login') end

    %main
      %header
        %h1 FunctionBin

      = yield

    - if flash[:notice]
      #notice!= flash[:notice]
