!!!
%html
  %head
    %title FunctionBin
    = stylesheet_link_tag("lib/codemirror")
    = stylesheet_link_tag("application")
    = javascript_include_tag("all")

  %body(data-page="#{params[:controller]}-#{params[:action]}")
    %nav
      %ul
        %li= link_to('Home', root_path)
        %li= link_to('Users', users_path)
        %li= link_to('Functions', functions_path)
        %li= if logged_in? then link_to('Log out', '/logout') else link_to('Log in', '/login') end

    %main
      %header
        - if content_for?(:header)
          = yield(:header)
        - else
          %h1 FunctionBin

      = yield

    - if flash[:notice]
      #notice(class="#{flash[:style] || 'info'}")= flash[:notice]
